.twemojicopyrightIcon {
    position: absolute;
    top: 507px;
    left: 1125px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.copyright2025 {
    position: absolute;
    top: 507px;
    left: 1187px;
}
.proconnect {
    position: absolute;
    top: 507px;
    left: 872px;
}
.wwwproconnectcom {
    position: absolute;
    top: 502px;
    left: 46px;
}
.contactUs {
    position: absolute;
    top: 89px;
    left: 64px;
}
.termsAndCondition {
    position: absolute;
    top: 84px;
    left: 588px;
}
.byAccessingOr {
    position: absolute;
    top: 137px;
    left: 588px;
    display: inline-block;
    width: 686px;
    height: 133px;
}
.yourUseOf {
    position: absolute;
    top: 270px;
    left: 588px;
    display: inline-block;
    width: 686px;
    height: 133px;
}
.raiUniversity {
    position: absolute;
    top: 154px;
    left: 115px;
}
.worknixgmailcom {
    position: absolute;
    top: 219px;
    left: 115px;
}
.xxxxxx {
    position: absolute;
    top: 295px;
    left: 115px;
}
.httpyoutubeworknix {
    position: absolute;
    top: 371px;
    left: 115px;
}
.customerService24365 {
    position: absolute;
    top: 507px;
    left: 450px;
}
.mynauilocationIcon {
    position: absolute;
    top: 153px;
    left: 64px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.lineMdemailIcon {
    position: absolute;
    top: 222px;
    left: 67px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.ricustomerService2LineIcon {
    position: absolute;
    top: 300px;
    left: 62px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.iconoiryoutube {
    position: absolute;
    top: 374px;
    left: 64px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.frameChild {
    position: absolute;
    top: 63px;
    left: 548px;
    width: 5px;
    height: 369px;
    object-fit: contain;
}
.twemojicopyrightParent {
    width: 100%;
    position: relative;
    background-color: #008080;
    height: 562px;
    overflow: hidden;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: 'Inria Serif';
    margin-top: 80px;
    
}
