.loginAndDiscover {
    position: absolute;
    top: 520px;
    left: 90px;
}
.amountOfNew {
    position: absolute;
    top: 570px;
    left: 155px;
}
.login {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 1000;
    font-size: x-large;
    width: 323px;
    height: 80px;
}
.loginWrapper {
    position: absolute;
    top: 800px;
    left: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #fff;
    width: 323px;
    height: 80px;
    overflow: hidden;
    color: #008080;
}
.logo {
    position: absolute;
    top: 110px;
    left: 85px;
}
.logoWrapper {
    position: absolute;
    top: 200px;
    left: 28%;
    background-color: #fff;
    width: 309px;
    height: 284px;
    overflow: hidden;
    font-size: 64px;
    color: #000;
}
.rightsidel {
    width: 40%;
    position: relative;
    background-color: #008080;
    height: 1000px;
    overflow: hidden;
    text-align: right;
    font-size: 32px;
    color: #fff;
    font-family: Inter;
}

